/**
*   @define-color base   #24273a;
*   @define-color mantle #1e2030;
*   @define-color crust  #181926;

*   @define-color text     #cad3f5;
*   @define-color subtext0 #a5adcb;
*   @define-color subtext1 #b8c0e0;

*   @define-color surface0 #363a4f;
*   @define-color surface1 #494d64;
*   @define-color surface2 #5b6078;

*   @define-color overlay0 #6e738d;
*   @define-color overlay1 #8087a2;
*   @define-color overlay2 #939ab7;

*   @define-color blue      #8aadf4;
*   @define-color lavender  #b7bdf8;
*   @define-color sapphire  #7dc4e4;
*   @define-color sky       #91d7e3;
*   @define-color teal      #8bd5ca;
*   @define-color green     #a6da95;
*   @define-color yellow    #eed49f;
*   @define-color peach     #f5a97f;
*   @define-color maroon    #ee99a0;
*   @define-color red       #ed8796;
*   @define-color mauve     #c6a0f6;
*   @define-color pink      #f5bde6;
*   @define-color flamingo  #f0c6c6;
*   @define-color rosewater #f4dbd6;
*
*   
*
*   @define-color backg 	#51306e;
*
*   @define-color magenta   #ff00ff;
*
*   @define-color module_backg    #c5a6e1;
**/

/*@define-color mauve     #c6a0f6;
@define-color   base      #24273a;
*/

* {
    color:  #51306e;
    font-family: Awesome Font, FiraCode Nerd Font;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    border-bottom: 2px solid #ff00ff;
    background-color: shade(#51306e, 1);
    opacity: 1;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-cava,
#custom-changeBG,
#custom-changeTheme,
#custom-keyboard-layout,
#custom-launcher,
#custom-power,
#custom-reboot,
#custom-lock,
#custom-quit,
#hyprland-workspaces,
#memory,
#network,
#pulseaudio,
#temperature {
    padding: 5px;
    border-style: solid;
    margin: 8px;
    background-color: transparent;
}

#custom-sep {
    color: #c5a6e1;
}

#custom-launcher {
    /*background-color: #c5a6e1;*/
    color: #c5a6e1;
    padding: 5px 11px;
    font-size: 20px;
    border-radius: 12px;
    margin-top: 4px;
    padding-bottom: 1px;
}

#clock {
    color: #c5a6e1;
}

#custom-changeBG {
    /*background-color: #c5a6e1;*/
    color: #c5a6e1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: 4px 0px;
    padding: 5px 11px;
}

#custom-changeTheme {
    /*background-color: #c5a6e1;*/
    color: #c5a6e1;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin: 4px 0px;
    padding-bottom: 1px;
    padding-right: 16px;
    padding-left: 10px;
}

#custom-keyboard-layout {
    color: #c5a6e1;
}

#custom-cava {
    /*background-color: #c5a6e1;*/
    color: #c5a6e1;
    border-radius: 10px;
}



#workspaces {
    border: 2px solid #c5a6e1;
    border-radius: 10px;
    padding-bottom: 1px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 5px;
    margin-bottom: 9px;
}

#workspaces button {
    color: 	#cba6f7 ;
    border-radius: 50%;
    padding: 2px 6px 2px 0px;
}










#workspaces button:hover * {
    color: @mauve;
}

#workspaces button:hover {
    color: @mauve;
    box-shadow: none;
    /* Remove predefined box-shadow */
    text-shadow: none;
    /* Remove predefined text-shadow */
    border: 0px;
    background: none;
}

#workspaces * {
    color: whitesmoke;
}

#workspaces button.focused {
    color: @mauve;
    border-radius: 20px;
    /* background-color: @flamingo; */
}

#workspaces button.focused * {
    color: @mauve;
}

#mode {
    color: #ebcb8b;
}





#mode {
    border-radius: 10px;
    color: @mauve;
    margin-right: 5px;
}

#mpd {
    border-radius: 10px;
    color: @mauve;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#mpd.2 {
    border-radius: 10px 0px 0px 10px;
    margin: 8px 0px 8px 6px;
    padding: 4px 12px 4px 10px;
}

#mpd.3 {
    border-radius: 0px 0px 0px 0px;
    margin: 8px 0px 8px 0px;
    padding: 4px;
}

#mpd.4 {
    border-radius: 0px 10px 10px 0px;
    margin: 8px 0px 8px 0px;
    padding: 4px 10px 4px 14px;
}

#mpd.2,
#mpd.3,
#mpd.4 {
    background-color: @base;
    font-size: 14px;
}

#custom-swap {
    border-radius: 10px;
    color: @base;
    margin-left: 10px;
    background-color: @mauve;
}

#custom-background {
    border-radius: 0px 10px 10px 0px;
    background-color: @base;
    color: white;
    padding: 5px 14px 5px 5px;
}

#backlight {
    color: @yellow;
    /* border-bottom: 2px solid @yellow; */
    border-radius: 10px 0 0 10px;
}

#battery {
    color: #d8dee9;
    /* border-bottom: 2px solid #d8dee9; */
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}

#battery.charging {
    color: #81a1c1;
    /* border-bottom: 2px solid #81a1c1; */
}

@keyframes blink {
    to {
        color: @red;
        /* border-bottom: 2px solid @red; */
    }
}

#battery.critical:not(.charging) {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @sky;
    /* border-bottom: 2px solid @sky; */
}

#cpu #cpu-icon {
    color: @sky;
}

#memory {
    color: @sky;
}

#network.disabled {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#network {
    color: @green;
    /* border-bottom: 2px solid @green; */
    border-radius: 10px;
    margin-right: 5px;
}

#network.disconnected {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio {
    color: @flamingo;
    /* border-bottom: 2px solid @flamingo; */
}

#pulseaudio.muted {
    color: #3b4252;
    /* border-bottom: 2px solid #3b4252; */
}

#temperature {
    color: @teal;
    /* border-bottom: 2px solid @teal; */
    border-radius: 10px 0 0 10px;
}

#temperature.critical {
    color: @red;
    /* border-bottom: 2px solid @red; */
}

#idle_inhibitor {
    background-color: #ebcb8b;
    color: @base;
}

#tray {
    background-color: @base;
    margin: 8px 10px;
    border-radius: 10px;
}



#custom-power {
    color: @base;
    background-color: @red;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px 10px;
}

#custom-reboot {
    color: @base;
    background-color: @red;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px 10px;
}
#custom-lock {
    color: @base;
    background-color: @red;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px 10px;
}
#custom-quit {
    color: @base;
    background-color: @red;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px 10px;
}